* {
    margin: 0;
    padding: 0;
    font-family: "Oxygen", Arial, sans-serif;
    color: #DEC3CA;
    box-sizing: border-box;
}
body {
    background: url(https://i.ibb.co/Cz8xmSV/portfolio-background.png)
}
html {
    scroll-behavior: smooth;
}
p {
    color: #e7e3e4;
}

/* Nav Section */
nav .container {
    display: flex;   
    justify-content: space-between; 
}
#web-menu {
    visibility: hidden;
}
.hamburger-container {
    position: fixed;
    width: 75px;
    right: -20px;
    top: 15px;
    width: 80px;
}
#hamburger {
    cursor: pointer;
    padding: 10px;
    display: flex;
    background-color: #DEC3CA;
}
.navbar {
    position: fixed;
    display: relative;
    right: 10px;
}
.navbar #mobile-menu{
    display: none;
    position: absolute;
    top: 55px;
    right: 30px;
    background-color: #000000;
    padding: 10px;
    width: 110px;
}
#mobile-menu li {
    margin-right: 20px;  
    list-style: none;
    padding: 20px 0;

}
li a {
    text-decoration: none;
}
#logo {
    width: 80px;
    padding-left: 10px;
    padding-top: 5px;
}
/* Welcome Section */
.welcome {
    width: 100vw;
    margin: 5vh auto;
    padding: 25vh 0;
}
.welcome h1 {
    text-align: center;
    padding-top: 5%;
}

/* About section */
#about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
#about .col1 {
    justify-content: center;
    margin-bottom: 3vh;
}
#about .col1 img {
    width: 130px;
}
#about .col2 {
    width: 80vw;
    background-color: rgba(230, 229, 229, 0.216);
    border-radius: 10px;
    border: 4px rgba(227, 226, 226, 0.624) solid;
}
#about .col2 p {
    padding: 10px 20px;
}
/* #about .col2 .btn {
    justify-self: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    background: #DEC3CA;
    padding: 0.75rem 1.5rem;
}
#about .col2 .btn a {
    color: white;
    text-align: center;
    margin: auto;
} */

/* Projects Section */
#mywork {
    margin: 25vh auto;
}
#mywork h1 {
    text-align: center;
    margin: 5vh 0;
}
#mywork .wrapper {
    display: grid;
    grid-template-columns: 150px 150px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
#mywork .wrapper .work {
    margin: 5vh 2vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px rgba(227, 226, 226, 0.624) solid;
    background-color:rgba(53, 53, 53, 0.216);
    border-radius: 20px;
    word-break: break-word;
}
#mywork .wrapper .work p {
    word-break: break-word;
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
}
#mywork .wrapper .work .url p {
    word-break: break-all;
}
.url {
    word-break: break-word;
}
/* hiding and displaying the hyperlinks on mouseover */
#mywork .wrapper .work .hover {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.wrapper .work a {
    text-decoration: none;
    display: block;
    position: absolute;
}
.wrapper .work:hover {
    cursor: pointer;
}
.wrapper .work:hover a {
    visibility: hidden;
}
.wrapper .work:hover .hover {
    visibility: visible !important;
}
.wrapper .work:hover .hover button {
    visibility: visible !important;
    max-width: 100%;
    min-width: 150px;
    height: 5vh;
    margin: 1vh;
    border: 1px solid black;
    box-shadow: 5px 5px 3px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .work:hover button a p {
    visibility: visible;
    color: rgb(6, 6, 85);
}
.wrapper .work:hover button:hover {
    background-color: rgb(6, 6, 85);
    box-shadow: 3px 3px 1px black;
    border: 2px solid black;
}
.wrapper .work:hover button:hover a p {
    color: #DEC3CA;
}
/* Contact Section */
#contact {
    display: flex;
    flex-direction: column;
    background-color: rgba(230, 229, 229, 0.216);
    border: 4px solid rgba(227, 226, 226, 0.624);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5vh;
}
#contact .col1 {
    margin: 2vh auto;
}
#contact .col1 h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3vh;
}

#contact .col1 p {
    line-height: 2;
    color: #DEC3CA
}


/* Media Queries for Tablets */
@media (min-width: 700px) and (max-width: 1024px) {
    #logo {
        margin-left: 10px;
    }
    .hamburger-container {
        visibility: hidden;
    }
    .navbar {
        position: static;
    }
    .navbar #mobile-menu {
        display: none;
    }
    .navbar #web-menu {
        visibility: visible;
        position: relative;
        display: flex;
        right: 50px;
        top: 30px;
        background-color: transparent;
        width: 500px;
        list-style: none;
    }
    #web-menu li {
        width: 90px;
        margin-right: 10px;
    }
    #about {
        flex-direction: row;
        display: flex;
    }
    #about .col1 {
        margin-right: 0;
        margin-bottom: 0;
        padding-right: 2.5vw;
    }
    #about .col1 img {
        width: 20vw;
    }
    #mywork .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        grid-auto-rows: minmax(100px, auto);
    }
    #mywork .work p {
        font-size: 1rem;
        padding: 3rem;
    }
    #about .col2 {
        width: 60vw;
        padding: 10px;
        display: flex;
    }
    #contact .col1 {
        justify-content: center;
    }
    #contact .col1 p {
        text-align: center;
        margin-left: 0;
    }
}

/* Media Query for Computer */
@media (min-width: 1025px) {
    p {
        font-size: 1.25rem;
    }
    a {
        font-size: 1.25rem;
    }
    h1 {
        font-size: 3rem;
    }
    #logo {
        padding-left: 30px;
        margin-left: 30px;
    }
    .welcome {
        margin: 0;
        padding: 0;
        height: 35vh;
    }
    .welcome h1 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
        position: relative;
        top: 5vh;
    }
    .hamburger-container {
        visibility: hidden;
    }
    .navbar {
        position: static;
    }
    .navbar #mobile-menu {
        display: none;
    }
    .navbar #web-menu {
        visibility: visible;
        position: relative;
        display: flex;
        right: 50px;
        top: 30px;
        background-color: transparent;
        width: 500px;
        list-style: none;
    }
    #web-menu li {
        width: 90px;
        margin-right: 10px;
    }
    #about {
        flex-direction: row;
        display: flex;
    }
    #about .col1 {
        margin-right: 0;
        margin-bottom: 0;
        padding-right: 2.5vw;
    }
    #about .col1 img {
        width: 15vw;
    }
    #about .col2 {
        width: 40vw;
        padding: 10px;
    }
    #contact .col1 {
        justify-content: center;
    }
    #contact .col1 p {
        text-align: center;
        margin-left: 0;
    }
    #mywork .wrapper {
        grid-template-columns: 400px 400px;
    }
    #contact {
        margin-top: 3vh;
        width: 50%;
    }
    #contact .col1 {
        padding-bottom: 30px;
    }
    #contact .col1 h1 {
        padding: 30px;
    }
}

/* Case Study Section- Mobile */
.case-study {
    text-align: center;
    margin: 0 7%;
}
.btn {
    margin: 5% 0 10%;
}
.btn button {
    padding: 2vh 4vw;
    color: #006600;
    border-radius: 5px;
    border: none;
    background-color: #DEC3CA;
}
button:hover {
    cursor: pointer;
}
.title {
    padding: 5vh 0 2vh;
}
.heading-container {
    margin: 10vh auto 2vh;
}
.body-container {
    width: 85%;
    text-align: center;
    margin: auto;
}
.tech-stack {
    width: 70%;
    margin: 0 auto;
    font-size: .8rem;
}